function @clean {
  rm -rf client
  rm -rf react
  rm -rf server
  rm -rf utils
  rm -rf data

  rm -rf index.*
  rm -rf tsconfig.tsbuildinfo
}

function @release {
  set -e
  pnpm clean
  pnpm test:mocha
  pnpm build
  npm version patch
  npm publish
}
