export HELENE_HOME=$(git rev-parse --show-toplevel)
export HELENE_PACKAGES_HOME=$HELENE_HOME/packages
export HELENE_META_HOME=$HELENE_HOME/meta

function @home {
  cd "$HELENE_HOME" || exit
}

function @package {
  local PACKAGE=$1
  shift
  (cd "$HELENE_PACKAGES_HOME/$PACKAGE"; yarn $@)
}

function @meta {
  local PACKAGE=$1
  shift
  (cd "$HELENE_META_HOME/$PACKAGE"; yarn $@)
}

function @watch {
  lerna run watch --parallel
}