.idea
.claude
.github
.cursorrules
docs
node_modules
src
yarn-error.log
.prettierrc.js
.eslintrc.js
test
tsconfig.tsbuildinfo
.envrc
workspace
assets
demo
bun.lockb
vitest.config.ts
vitest.config.node.ts
.eslintignore
.prettierignore
.swcrc
CLAUDE.md
tsconfig.json