function @docker-build {
  docker build -t helene-demo .
}

function @docker-run {
  docker rm -f helene-demo
  docker run -p 3000:3000 --env PORT=3000 --detach --name helene-demo helene-demo
}

function @docker-stop {
  docker rm -f helene-demo
}
